body { 
  background: #f0f8fa; 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #212b40;
  /* color: #42577f; */ ;
}
a.list-group-item { 
  background-color: #f0f8fa;
  color: #212b40; 
}

a.feedback {
	background-color: #ccddff;
  font-style: italic;
}

h1, h2, h3, h4, h5 { color: #42577f; }

.btn-info { 
  background-color: #779ce5; 
  border-color: #779ce5;
}
.btn-info:hover { 
  background-color: #42577f; 
  border-color: #42577f;
}

.container { max-width: 900px; background: #fff; }

body > .container, body header > .container { 
  padding: 15px 65px 15px 30px; 
  font-size: 14px; 
  line-height: 19px; 
  border-radius: 6px; 
  box-shadow: 0 0 10px #666; 
}
body header > .container { padding: 15px 30px; }

body header > .container { width: 600px; margin: 50px auto; }
body header h4 { font-weight: bold; padding-bottom: 1em; }
body header h5 { 
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  padding: 1em 0 .5em; 
}

ul, ol { margin: 0; padding: 0; list-style-type: none; }

li:not(.navbar li) { padding: 15px 0; }

th label { font-weight: normal; }

section { border: 0; margin-bottom: 100%; }

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
  width:auto;
}

header {
  height:270px;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:25px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:25px;
    width: 180px;
  }
}

.affix,.affix-top {
   position:static;
}

table { margin-top: 2em; width: 80%; }
table th { font-size: 1.2em; padding: 0 0 .75em 0; }
table td { padding: .25em 0; }
table td input[type="radio"], table td input[type="checkbox"] { margin: 6px; }
td[data-total="current"], td[data-total="future"],
td.current, td.future { font-size: 1.5em; }

h2 { padding-top: 1em; }

ul[data-switch] > li { display: none; }

.text-results > p { display: none; }

.print-only { display: none;}

@media print 
{
  .non-printable { display: none; }
  .printable { display: block; }
  .print-only { display: block;}
  
  .printable h2 { margin: 0; padding: 0; }
}

.aba-hours-entered { display: none; }

ul[data-aggregate] { list-style-type: disc; padding-bottom: 1em; }
ul[data-aggregate] li { margin: 0 0 0 2em; padding: 0; }
 
header p, #intro p { margin: 0 0 15px;}

ul.choices { margin-left: 1em; }
ul.choices li { margin: 0; padding: 0; }
ul.choices.inline li { display: inline; padding: 0 .5em 0 0; }

ol li { margin-top: 1em; }